.skills {
  padding: 70px 10%;
  background: #020617;
  color: #e2e8f0;
}

.skills h2 {
  font-size: 36px;
  margin-bottom: 40px;
}

.skills-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 25px;
}

.skill-card {
  background: #0f172a;
  padding: 30px;
  border-radius: 10px;
  text-align: center;
  transition: 0.3s;
}

.skill-card:hover {
  transform: translateY(-10px);
  background: #1e293b;
}

@media (max-width: 768px) {

  .skills-grid {
    grid-template-columns: repeat(2, 1fr);
  }

}